body{
    background: #00f123;
}

.top{
    font-size: 6em;
    color: red;
    text-align: center;
}

.login{
    position: absolute;
    font-size: 3em;
    top: 5em;
    right: 20em;
}

.register{
    position: absolute;
    text-align:right;
    font-size: 3em;
    top: 5em;
    right: 4em;
}

.img{
    text-align: center;
}

td {
    border: 1px solid black;
}